h1 {
    color: black;
    font-size: 28px;
}

p {
    font-size: 20px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.magenta {
    color: magenta;
}

.blue {
    color: blue;
}
